{
  "extends": [ "eslint:recommended" ],

  "env": {
  	"node": true,
  	"es6": true,
	"jquery" : true
  },

  "ecmaFeatures": {
  	"modules": true
  },

  "parserOptions": {
	"sourceType": "module"
  },

  "rules": {
  	// Additional, per-project rules...
	"no-console": "off"
  }

}